* {
  padding: 0;
  margin: 0;
}

body {
  /*background-image: url('../img/1155959-gorillaz.jpg');*/
  background-repeat: no-repeat;
  background-position: left bottom;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

#surveys-display {
  list-style:none;
}

#surveys-display {
  padding:0;
  margin:0;
}

#surveys-display .title, #surveys-display .author {
  float:left;
}

.xxx {
  float: left;
  height: inherit;
}

#surveys-display p {
  margin-bottom: 0;
}

#surveys-display .author {
  clear: left;
}

#surveys-display .description{
  float:right;
  padding-left: 8px;
  border-left: 2px dotted darkgreen;
  width: 70%;
  text-align: right;
}

li {
  text-align: left;
}

.option-field.template {
  display: none;
}

.question-text {
  font-size: 1.5em;
}

/* orange higlight for add button */
.top-bar-section .right li a.add {
  background-color: #B22400;
}

.top-bar-section .right li a.add:hover {
  background-color: #BA3A19;
}