* {
  padding: 0;
  margin: 0;
}

body {
  width: 600px;
  margin: 90px auto 0;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px #333;
}

.logo {
  font-size: 3em;
  line-height: 50px;
}

.logo span {
  position: relative;
  top: -20px;
  right: -5px;
}

h1.home  {
  color: white;
  background-color: maroon;
  font-weight: 300;
  opacity: 0.75;
  position: fixed;
  clear: both;
  width: 100%;
  left: 0;
  top: 42px;
  text-align: center;
  padding: 20px 0 20px 50px;
  clear: both;
}

.small {
  font-size: .75em;
}

.header {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.title {
  border-bottom: 1px solid #333;
}

.percent {
  float: right;
  weight: 700;
  padding: 10px;
  margin-top: -8px;
  margin-right: -20px;
  background-color: #fdb813;
  border-radius: 40px;
  min-width: 50px;
  text-align: center;
}

.avail-surveys {
  position: fixed;
  left: 20px;
  top: 200px;
}

.avail-surveys .link {
  background-color: #eee;
  font-weight: 700px;
  font-size: 1.25em;
  margin: 6px;
  padding: 10px;
  color: #B22400;
}

#surveys-taken {
  border-top: 1px solid #eee;
}

#surveys-taken li {
  border-bottom: 1px solid #eee;
  padding: 5px;
  font-size: 1.1em;
}

#surveys-taken li a {
  display: block;
}

#surveys-taken li:hover {
  background-color: #ddd;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0;
}

.container.home {
  margin-top: 200px;
}

#signin-box, #signup-box {
  display: none;
  margin: 0;
  width: 400px;
  margin: 0 auto;
  background-image: linear-gradient(#333, #222);
  padding-top: 20px;
  box-shadow: 2px 2px 20px #000;
  border-bottom: 2px solid #111;
  border-right: 2px solid #222;
  border-left: 2px solid #333;
  border-top: 2px solid #444;
  border-radius: 5px;
}

th {
  text-align: left;
}

#surveys-display {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

#surveys-display p {
  font-size: 1.25em;
  margin: 0;
}

#surveys-display .link {
  padding:2px 6px;
  font-size: .75em;
  margin-left: 5px;
  border-radius: 2px;
  background-color: lightblue;
}

#surveys-display .link a {
  color: #333;
}

#surveys-display .link a:hover {
  color: #111;
}

ul {
  margin: 0;
}

li {
  text-align: left;
  list-style-type: none;
}

.profile .button {
  font-size: 1.25em;
}

.option-field.template {
  display: none;
}

.question-text {
  font-size: 1.5em;
  margin: 0;
}

.answer-text, .description {
  font-size: 1.25em;
  display: block;
  background-color: #eee;
  padding: 5px 5px 10px;
  margin-bottom: 10px;
}

#take-survey .button {
  margin-top: 20px;
}

.answer-text input[type="radio"] {
  margin: 0;
}

/* orange higlight for add button */
.top-bar-section .right li a.add {
  background-color: #B22400;
  border-left: 6px solid #333;
}


.top-bar-section .right li a.add:hover {
  background-color: #BA3A19;
}



