<form id="guest-checkin" class="form innerwidth" action="/user/signin" method="POST">
  <label for="user[name]">How did you here about this site?</label>
  <input type="textarea" name="reference">
  <input type="text" placeholder="Name" name="user[name]">
  <input type="text" placeholder="Email" name="user[email]">
  <input type="hidden" name="email" value="guest@surveygorillaz.com">
  <input type="hidden" name="password" value="justanothermanicmonkey"><br>
  <input type="submit" value="check in" class="button">
</form>
