<form id="sign-in" class="form innerwidth" action="/user/signin" method="POST">
	<input type="text" placeholder="Email" name="email">
	<input type="password" placeholder="Password" name="password">
	<input type="submit" value="sign in" class="button home">
</form>