<form id="sign-up" class="form" action="/user/new" method="POST">
	<input type="text" placeholder="Name" name="user[name]">
  <input type="text" placeholder="Email" name="user[email]">
	<input type="password" placeholder="Password" name="user[password]">
	<input type="password" placeholder="Confirm password" name="user[password_confirmation]">
	<input type="submit" value="Sign Up!" class="button">
</form>