<h1>Edit User</h1>
<%= erb :"user_views/_user_edit_form" %>


<script>
  $(document).ready(function(){
    $('body').css('background-image', 'url(/img/Russel-gorillaz.jpg)');
    $('body').css('background-position', '-20% 30px');
  });
</script>