* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  font-family: "tablet-gothic-semi-condensed";
}

.innerwidth {
  width: 960px;
  margin: auto;
}

nav {
  height: 44px;
}

nav .right {
  /*font-family: "tablet-gothic",sans-serif;*/
  font-size: 1.25em;
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

#logo, #usernav li {
  height: 40px;
  margin-top: 2px;
  overflow: hidden;
}

#usernav {
  line-height: 44px;
}

#usernav li {
  display: inline-block;
  padding: 0 10px;
}

#usernav li:hover {
  background-color: #8A2E5C;
  color: white;
}

#logo h1, #logo h1 a {
  color: #8A2E5C;
  }

#logo h1 {
  font-size: 3em;
  line-height: 52px;
  margin: 0;
}

#logo span {
  position: relative;
  top: -22px;
  right: -4px;
}

h1.home  {
  color: white;
  background-color: #52527A;
  font-family: "tablet-gothic",sans-serif;
  font-weight: 200;
  font-size: 2em;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 40px 0;
}

h1.home:after {
  display: block;
  clear: both;
  content: "";
}

#heroshot {
  width: 100%;
  height: 80%;
  background-image: url(../img/gorillaz-5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -100px;
  margin-top: 2px;
}

.small {
  font-size: .75em;
}

.header {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.title {
  border-bottom: 1px solid #333;
}

.button {
  font-weight: 700;
  border-style: none;
  padding: 10px;
  color: #eee;
  background-color: #8A2E5C;
}

input {
  padding: 10px;
  border-style: none;
  background-color: #eee;
}

.percent {
  float: right;
  font-weight: 700;
  padding: 10px;
  margin-top: -8px;
  margin-right: -20px;
  background-color: #fdb813;
  border-radius: 40px;
  min-width: 50px;
  text-align: center;
}

.avail-surveys {
  position: fixed;
  left: 20px;
  top: 200px;
}

.avail-surveys .link {
  background-color: #eee;
  font-weight: 700px;
  font-size: 1.25em;
  margin: 6px;
  padding: 10px;
  color: #B22400;
}

#surveys-taken {
  border-top: 1px solid #eee;
}

#surveys-taken li {
  border-bottom: 1px solid #eee;
  padding: 5px;
  font-size: 1.1em;
}

#surveys-taken li a {
  display: block;
}

#surveys-taken li:hover {
  background-color: #ddd;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0;
}

#signin-box, #signup-box {
  display: none;
  margin: -2px auto;
  padding: 20px;
  background-color: white;
  text-align: center;
  box-shadow: inset 0 0 10px #333;
}

th {
  text-align: left;
}

#surveys-display {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

#surveys-display p {
  font-size: 1.25em;
  margin: 0;
}

#surveys-display .link {
  padding:2px 6px;
  font-size: .75em;
  margin-left: 5px;
  border-radius: 2px;
  background-color: lightblue;
}

#surveys-display .link a {
  color: #333;
}

#surveys-display .link a:hover {
  color: #111;
}

li {
  text-align: left;
  list-style-type: none;
}

.profile .button {
  font-size: 1.25em;
}

.option-field.template {
  display: none;
}

.question-text {
  font-size: 1.5em;
  margin: 0;
}

.answer-text, .description {
  font-size: 1.25em;
  display: block;
  background-color: #eee;
  padding: 5px 5px 10px;
  margin-bottom: 10px;
}

#take-survey .button {
  margin-top: 20px;
}

.answer-text input[type="radio"] {
  margin: 0;
}

/* orange higlight for add button */
.top-bar-section .right li a.add {
  background-color: #B22400;
  border-left: 6px solid #333;
}


.top-bar-section .right li a.add:hover {
  background-color: #BA3A19;
}



