* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  width: 100%;
  color: #333;
  margin: 0 auto;
  background-repeat: no-repeat;
  font-family: "tablet-gothic-semi-condensed";
}

section {
  margin: 50px auto;
}

.innerwidth {
  width: 960px;
  margin: auto;
}

nav {
  height: 42px;
}

.home nav {
  height: 44px;
}

.nav-wrapper {
  background-color: #8A2E5C;
}

.home.nav-wrapper {
  background-color: white;
}

nav .right {
  /*font-family: "tablet-gothic",sans-serif;*/
  font-size: 1.25em;
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

#logo, #usernav li {
  height: 40px;
  margin-top: 2px;
  overflow: hidden;
}

#usernav {
  line-height: 40px;
  height: inherit;
}

#usernav li {
  display: inline-block;
  padding: 0 10px;
}

#usernav li a {
  color: white;
}

.home #usernav li a {
  color: #333;
}

.home #usernav #guest a {
  color: white;
  background-color: transparent;
}

.home #usernav li:hover,
.home #usernav li:hover a,
.home #usernav li a:hover {
  background-color: #8A2E5C;
  color: white;
}

#usernav li:hover,
#usernav li:hover a,
#usernav li a:hover {
  background-color: white;
  color: #8A2E5C;
}

.dropdown-item {
  background-color: #333;
}

#logo h1, #logo h1 a {
  color: white;
  }

.home #logo h1, .home #logo h1 a {
  color: #8A2E5C;
  }

#logo h1 {
  font-size: 3em;
  line-height: 52px;
  margin: 0;
}

#logo span {
  position: relative;
  top: -22px;
  right: -4px;
}

.header-box {
  background-color: #52527A;
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
}

h1.home  {
  color: white;
  background-color: transparent;
  font-family: "tablet-gothic";
  font-weight: 200;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

#heroshot {
  width: 100%;
  height: 80%;
  background-image: url(../img/gorillaz-5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -100px;
}

.small {
  font-size: .75em;
}

.header {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.title {
  border-bottom: 1px solid #333;
}

#guest {
  background-color: #8A2E5C;
  color: white;
}

#usernav #guest:hover {
  background-color: #7C2953;
}

.close-button-wrapper {
  top: -20px;
}

.close-button-wrapper,
.button-wrapper {  
  width: 100%;
  height: 0;
  position: relative;
}

.button-wrapper {
  top: 20px;
}

.button.home  {
  background-color: #8A2E5C;
}

.button {
  font-family: "tablet-gothic";
  font-weight: 600;
  border-style: none;
  padding: 10px;
  color: #eee;
  background-color: #52527A;
  display: inline-block;
  margin-bottom: 2px;
  min-width: 100px;
  text-align: center;
}

.close {
  color: white;
  background-color: #999;
  padding: 0 0 4px 0;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  clear: both; 
  font-family: "tablet-gothic";
  font-weight: 700;
  font-size: 1.25em;
  overflow: visible;
}

.close:focus {
  outline: none;
}

input {
  padding: 10px;
  display: inline;
  border-style: none;
  background-color: #eee;
  font-family: "tablet-gothic";
  margin-bottom: 4px;
}

label {
  font-size: 1.5em;
  text-align: center;
  display: block;
  font-family: "tablet-gothic";
  font-weight: 200;
}

#guest-checkin label {
  font-size: 2em;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.hidden {
  display: none;
}

input[type="text"],
#guest-checkin input[type="textarea"] {
  text-align: left;
}

#guest-checkin input {
  display: inline-block;
}

.percent {
  float: right;
  font-weight: 700;
  padding: 6px 6px 6px 10px;
  margin-top: -10px;
  margin-right: -30px;
  background-color: #fdb813;
  border-radius: 38px;
  min-width: 40px;
  text-align: center;
  min-height: 40px;
  font-size: 1em;
}

.percent-bar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #999;
  display: block;
}

.avail-surveys {
  position: fixed;
  left: 20px;
  top: 200px;
}

.avail-surveys .link {
  background-color: #eee;
  font-weight: 700px;
  font-size: 1.25em;
  margin: 6px;
  padding: 10px;
  color: #B22400;
}

#surveys-taken {
  border-top: 1px solid #eee;
}

.profile .list li {
  border-bottom: 1px solid #eee;
  padding: 5px;
  font-size: 1.1em;
  display: block;
}

#forms {
  height: auto;
}

#surveys-taken li a {
  display: block;
}

#surveys-taken li:hover {
  background-color: #ddd;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0;
}

.form {
  text-align: center;
}

#forms .form { 
  opacity: 0;
  display: none;
  padding: 20px;
  margin-bottom: 20px;
}

#forms .active {
  display: block;
}

.survey {
  width: 600px;
}

th {
  text-align: left;
}

#surveys-display {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

#surveys-display p {
  font-size: 1.25em;
  margin: 0;
}

#surveys-display .link {
  padding:2px 6px;
  font-size: .75em;
  margin-left: 5px;
  border-radius: 2px;
  background-color: lightblue;
}

#surveys-display .link a {
  color: #333;
}

#surveys-display .link a:hover {
  color: #111;
}

.profile li {
  display: inline-block;
}

li {
  text-align: left;
  list-style-type: none;
}

.option-field.template {
  display: none;
}

.question-text {
  font-size: 1.5em;
  margin: 0;
}

.answer-box {
  font-size: 1.25em;
  display: block;
  background-color: #eee;
  position: relative;
  margin-bottom: 14px;
  text-shadow: 1px 1px 1px #fff;
}

.bg-graph-bar {
  background: -webkit-linear-gradient(left, #eeeeee, #fdb813 );
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .5;
}

.description {
  background-color: #eee;
}

.answer-text, .description {
  font-size: 1.1em;
  display: block;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
  padding: 5px 15px 5px; 
}

#take-survey .button {
  margin-top: 20px;
}

.answer-text input[type="radio"] {
  margin: 0;
}

/* orange higlight for add button */
.top-bar-section .right li a.add {
  background-color: #B22400;
  border-left: 6px solid #333;
}


.top-bar-section .right li a.add:hover {
  background-color: #BA3A19;
}



