<h3>Returning User? Sign In Here!</h3>
<div class="row">
	<div class="large-6 large-offset-3 column">
		<form id="sign-in" class="form" action="/user/signin" method="POST">
      <!-- <form class="form" action="/signin" method="POST"> -->
			<input type="text" placeholder="Email" name="email">
			<input type="password" placeholder="Password" name="password">
			<input type="submit" value="Sign In" class="button">
		</form>
	</div>
</div>
