<h3>Don't have an Account? Sign up for one!</h3>
<h5>We promise to only harvest your personal information to the top paying advertisers</h5>
<div class="row">
	<div class="large-6 large-offset-3 column">
		<form id="sign-up" class="form" action="/user/new" method="POST">
			<input type="text" placeholder="Name" name="user[name]">
      <input type="text" placeholder="Email" name="user[email]">
			<input type="password" placeholder="Password" name="user[password]">
			<input type="password" placeholder="Confirm password" name="user[password_confirmation]">
			<input type="submit" value="Sign Up!" class="button">
		</form>
	</div>
</div>
