<div class="container">
  <h1>Put Surveys Here</h1>
  <p>Located in: views/user_views/show.erb</p>


  <!-- <a href="/user_views/edit">Edit your Account</a> -->

  <!-- Links for future reference:  -->

    <a href="/user/edit/<%= current_user.id %>">Edit Your Profile</a>
    <a href="/user/signout">Sign Out</a>
    <a href="/surveys">Choose a Survey to Complete</a>

  <br>
  COMING SOON - <br><br>
  <!-- <a href="/survey/<%= current_user.id %>">Create a Survey!</a> -->

  <a href="/survey/new">Create a Survey!</a>
</div>



