<h1>Put Surveys Here</h1>
<p>Located in: views/user_views/show.erb</p>


<!-- <a href="/user_views/edit">Edit your Account</a> -->

<!-- Links for future reference:  -->
<a href="/user/edit/<%= current_user.id %>">Edit Your Profile</a>
<br>
<br>
<br>
<a href="/user/signout">Sign Out</a>
<br>

<br>
<br>

<br>
<br>
COMING SOON - <br>
<a href="/user/<%= current_user.id %>">Create a Survey!</a>
