<section class="content innerwidth">
  <section class="survey">
  <div class="container">
    <form id      = "submit-question-form"
          class   = "form" 
          action  = "/survey/create/question"
          method  = "POST">
      <label for="question[text]">Question Text: </label>
      <input type="text" class="w100" name="question[text]">
      <div class="button-wrapper">
        <input type="submit" value="Add Choices" class="button">
      </div>
    </form>
  </div>
  </section>
</section>


<script>
  $(document).ready(function(){
    $('body').css('background-image', 'url(/img/1155959-gorillaz.jpg)');
    $('body').css('background-position', '50% 100%');
  })
</script>