<h3>Title:</h3>
<p><%= @survey.title %></p>
<h3>Description:</h3>
<p><%= @survey.description %></p>
<h3>Questions Count:</h3>
<p><%= @survey.questions.count %></p>
<section class="content innerwidth">
  <section class="survey">
  <div class="container">
    <form id = "new-question" class = "form" 
          action = "/survey/new/question"
          method = "POST">
      <input name="survey" type="hidden" value="<%= @survey.id %>" %>
      <label for="question[text]">Question Text: </label>
      <input type="text" class="w100" name="question[text]">
      <div class="button-wrapper">
        <input type="submit" value="Add Choices" class="button">
      </div>
    </form>
  </div>
  </section>
</section>