<h3>Title:</h3>
<p><%= @survey.title %></p>
<h3>Description:</h3>
<p><%= @survey.description %></p>
<% question = @questions.last %>
<section class="content innerwidth">
  <section class="survey">
  <h3>Question:</h3>
  <p><%= question.text %></p>
  <form id="submit-option-form" class="form" action='/survey/create/answer_choices' method="POST">
    <label>Please Add Options to your Survey</label>
    <div id="inputs">
      <input class="option-field w100" type="text" name="answer1">
    </div>
    <div class="button-wrapper">
      <button class="add-option button" type="button">Add another Option</button>
      <button class="remove-last-option button" type="button">Remove your last Option</button>
      <button id="submit-option-button" class="button" type="submit">Submit Options</button>
    </div>
  </form>

  <div id="empty-warning" style="color:red;"></div>
  </section>
</section>
