<div class="container">
  <form id="submit-question-form" action='/survey/create/question' method="POST">
    <label>Question Text: </label><input type="text" name="question[text]"><br>
    <input type="submit" value="Add Choices" class="button">
  </form>
</div>


<script>
  $(document).ready(function(){
    $('body').css('background-image', 'url(/img/1155959-gorillaz.jpg)');
    $('body').css('background-position', '50% 100%');
  })
</script>