


<div class="container">
  <h1>Logo/Header goes here</h1>
</div>


<div class="container">
  <%= erb :"user_views/_signin_form" %>
</div>


<div class="container">

<%= erb :"user_views/_signup_form" %>

</div>



