


<div class="container">
  <h1>Group 4 Survey Gorilla</h1>
</div>


<div class="container">
  <%= erb :"user_views/_signin_form" %>
</div>


<div class="container">

<%= erb :"user_views/_signup_form" %>

</div>



