/* colors */
$blue: #52527A;
$purple: #7C2953;
$grey: #333;

$width: 960;
$third: $width/3;
$twothird: $third * 2;
$fourth: $width/4; /* 240 */
$twofourth: $fourth * 2;
$threefourth: $fourth * 3;
$margin: 20;
$padding: $margin;