<div class="container">
  <h1>Thanks for Filling out our survey!<h1>
  <img src="../img/confirmation-gorilla.jpg"></img>
    <a class="button" id="survey-confirmation-button" href="/surveys">View <em>ALL</em> User Surveys</a>
    <a class="button" id="survey-confirmation-button" href="/view_your_surveys">View all <em>YOUR</em> surveys</a>
  </button>
</div>



