
<div class="container">
  <h1>Thanks for Filling out our survey!<h1>


  <img src="../img/confirmation-gorilla.jpg"></img>

  <button type="button" id="survey-confirmation-button"><a href="/surveys">See more surveys</a></button>
</div>



