
<div class="container">
  <h1>Thanks for Filling out our survey!<h1>


  <img src="../img/confirmation-gorilla.jpg"></img>

  <button type="button" id="survey-confirmation-button"><a href="/surveys">See a Global list of all User Surveys</a></button>

 <button type="button" id="survey-confirmation-button"><a href="/view_your_surveys">See All of YOUR surveys</a></button>

</div>



