<h1>Create a Survey</h1>

<p>located in app/views/survey_views/create_survey.erb </p>

<div class="container">

  <form id="create-survey-form" autocomplete="off">
    <label>Survey Title</label><input type="text" name="survey[title]"><br>
    <label>Survey Description</label><input type="text" name="survey[description]">
    <input type="hidden" name="survey[user_id]" value="<%=session[:user_id]%>">
    <button id="add-question-button" type="button">
      Add Question
    </button>
    <span id="create-survey-validations" style="color:red; margin-left: 30px"></span>
    <br>

    <div id="question-name" style="display:none">
      <label>Survey Question</label><input type="text" name="question[text]"><br>
    </div>

    <div id="input-options" style="display:none">
      <label>Response Type For this Question</label>
      <input style="margin-left:10px" type="radio" name="question1-answer-type" value="free-response">  Free Response<br>
      <input style="margin-left:10px" type="radio" name="question1-answer-type" value="fixed-response">  Fixed Response<br>
    </div>

    <div id="response-fixed-options" style="display:none">

      <div id="question1-responses">
        <label>Response text:</label>
        <input class="question1-responses" type='text' name="response1">
      </div>

      <button id="add-response" type="button">
        <span style="font-size:24px">+  </span>response
      </button>
      <button id="remove-response" style="display:none" type="button">
        <span style="font-size:24px">-  </span>response
      </button>
      <label>Responses should appear as:</label>
      <input type='radio' name="question1" value="select">  Dropdown Menu
      <input type='radio' style="margin-left:16px" name="question1" value="radio">  Radio Buttons
      <input type='radio' style="margin-left:16px" name="question1" value="checkbox">  Checkboxes

    </div>

    <div id="response-free-options" style="display:none">
      <select name='answertypeopen'>
        <option value="text">Free Response - Line Size</option>
        <option value="textarea">Free Response - Paragraph Size</option>
      </select>
    </div>

    <div id="user-action-buttons" style="display:none">
      <button id="add-question" type="button">
        + Question
      </button>
      <button type="button">
        - Question
      </button>
      <span id="create-question-validation" style="color:red; margin-left: 24px"></span>
      <br><br>
      <button type="submit"> Preview Survey</button>
      <input type="submit" value="Save Survey" class="button">
    </div>

  </form>

</div>
