<div class="container">
  <form action='/survey/create' method="POST">
    <label>Survey Title:</label><input type="text" name="survey[title]"><br>
    <label>Survey Description:</label><input type="text" name="survey[description]"><br>
    <input type="hidden" name="survey[user_id]" value="<%=session[:user_id]%>">
    <input type="submit" value="submit" class="button">
  </form> 
</div>