<div class="container">
  <form id="submit-question-form" action='/survey/create/question' method="POST">
    <label>Question Text: </label><input type="text" name="question[text]"><br>
    <input type="submit" value="Add Additional Response Choices" class="button">
  </form>



</div>
