<div class="container">
  <form action='/survey/create' method="POST">
    <label>Survey Title:</label><input type="text" name="survey[title]"><br>
    <label>Survey Description:</label><input type="text" name="survey[description]"><br>
    <input type="hidden" name="survey[user_id]" value="<%=session[:user_id]%>">
    <a href="/user/<%= current_user.id %>" class="button alert">cancel</a>
    <input type="submit" value="submit" class="button">
  </form> 
</div>

<script>
  $(document).ready(function(){
    $('body').css('background-image', 'url(../img/1155959-gorillaz.jpg)');
    $('body').css('background-position', '50% 100%');
  })
</script>