<div class="container">

  <h1> SURVEYS </h1><br>

  <ul id="surveys-display">
  <%@surveys.each do |survey| %>


  <%if @surveys%>
    <ul>
    <% @surveys.each do |survey|%>
       <li><a href="/survey/<%=survey.id%>/results"><%=survey.title%></a></li>
    <%end%>
    </ul>
  <%end%>
</div>




