
<p class="question-text"><%= @questions[0].text %></p>
 <% @survey.questions.each do |question| %>
  <ol>
    <% question.answer_choices.each do |choice| %>
      <li><%= choice.text %></li>
    <% end %>
  </ol>
<% end %>
