<h1>Display All Surveys</h1>

<p>located in app/views/survey_views/display_survey.erb </p>

<!-- Surveys have many questions -->

<!-- Question has one survey has name/title, description and user_id-->
<!-- question likely have survey_id and text -->





<div class="container">







</div>
