<div class="container">

<h1>Display All Surveys</h1>

<p>located in app/views/survey_views/display_survey.erb </p>

  <%if @surveys%>
    <ul>
    <% @surveys.each do |survey|%>
       <li><a href="/survey/<%=survey.id%>/results"><%=survey.title%></a></li>
    <%end%>
    </ul>
  <%end%>
</div>



