<h1><%= current_user.name %>'s Surveys</h1>
<div class="container">
  <%if @surveys%>
    <% @surveys.each do |survey|%>
    <div id="surveys-display">
      <p>
        <a href="/survey/<%=survey.id%>/results"><%=survey.title%></a>
        <span class="link"><a href="/survey/<%=survey.id%>/results">View Results</a></span>
      </p>
    </div>
    <%end%>
  <%end%>
  <a class="button" href="/surveys">Return to ALL surveys</a>
</div>