
<p class="question-text"><%= @survey.questions[0].text %></p>
 <% @survey.questions.each do |question| %>
  <ol>
    <% question.answer_choices.each do |choice| %>
      <li><%= choice.text %></li>
    <% end %>
  </ol>
<% end %>





<form id="submit-option-form" action='/survey/create/answer_choices' method="POST">


    <div id="inputs">
      <input class='option-field' type='text' name='answer1'>
    </div>

    <button class="add-option" type="button">Add another Option</button>

    <button class="remove-last-option" type="button">Remove your last Option</button>

    <input type="submit" value="Submit" />

  </form>

>>>>>>> rebase freebase whatever
