<div class="row">
	<div class="large-6 large-offset-3 column">
		<form class="form" action="/user/signin" method="POST">
			<input type="text" placeholder="Email" name="email">
			<input type="password" placeholder="Password" name="password">
			<input type="submit" value="Sign In" class="button">
		</form>
	</div>
</div>