<div class="row">
	<div class="large-6 large-offset-3 column">
		<form class="form" action="/user/new" method="POST">
			<input type="text" placeholder="Email" name="user[email]">
			<input type="password" placeholder="Password" name="user[password]">
			<input type="password" placeholder="Password Confirmation" name="user[password_confirmation]">
			<input type="submit" value="Sign Up!" class="button">
		</form>
	</div>
</div>