<div class="row">
	<div class="large-6 large-offset-3 column">
		<form class="form" action="/user/edit" method="POST">
			<input type="text" placeholder="email" name="user[email]" value="<%= current_user.email %>">
      <input type="password" placeholder="Current Password" name="user[current_password]">
			<input type="password" placeholder="New Password" name="user[password]">
			<input type="password" placeholder="New Password Confirmation" name="user[password_confirmation]">
			<input type="submit" value="Save Changes" class="button">
		</form>
	</div>
</div>
<div class="row">
	<div class="large-6 large-offset-3 column">
		<a href="/user/delete" class="button alert">Delete My Account</a>
	</div>
</div>