<% if !@errors.nil? %>
  <ul class="errors">
    <% @errors.each do |error, messages| %>
      <li><%= error %>:
        <ul>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
