<div class="header-box">
  <h1 class="home innerwidth">&ldquo;Surveyz forever, surveyz free, surveyz forever you and me&rdquo;</h1>
</div>
<div id="forms">
    <%= erb :"user_views/_signin_form" %>
    <%= erb :"user_views/_signup_form" %>
    <%= erb :"user_views/_guest_form" %>
</div>
<div class="close-button-wrapper">
  <button class="close hidden" type="button">x</button>
</div>
<div id="heroshot"></div>


