<h1 class="home">&ldquo;Surveyz forever, surveyz free, surveyz forever you and me&rdquo;</h1>
<div id="signin-box"><%= erb :"user_views/_signin_form" %></div>
<div id="signup-box"><%= erb :"user_views/_signup_form" %></div>
<div id="heroshot"></div>


